<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Xác nhận địa chỉ email</title>
  </head>

  <body>
    <table
      id="m_5697987839338949063middle_column_content_table"
      border="0"
      cellspacing="0"
      cellpadding="40"
      width="100%"
      style="background:#ffffff;border-radius:8px"
    >
      <tbody>
        <tr>
          <td
            id="m_5697987839338949063middle_column_content_cell"
            style="background-color:#ffffff;border-radius:6px"
          >
            <span
              style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242"
            >
              <p style="margin:0 0 30px 0">
                Xin chào 🎉! Chúng tôi nhận đươc yêu cầu tham gia vào
                <span style="color: rgb(44, 187, 44);">Đảo Thú Cưng 🐕🐈</span> của bạn.
              </p>
              <p
                id="code"
                style="display:inline-block;width:100%;background-color:#eaf3ff;text-decoration:none;color:#5486c6;font-size:25px;font-weight:bold;text-align:center;padding:30px 0px 30px 0px;border-radius:10px"
              >
                1225
              </p>
              <p style="margin:30px 0 0 0">
                Vui lòng lấy mã code và nhập vào ứng dụng
                <span style="color: rgb(44, 187, 44);">Đảo Thú Cưng 🐕🐈</span> của bạn để xác minh.
                Xin cảm ơn!
              </p>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
